.bg {
	background: url(../../../images/ThiBG.jpg) no-repeat center center;
	/* background: url(../../../images/coffee.jpg) no-repeat center center fixed; */
	background-size: cover;
	background-position: center;
}
